$system-code: 'ig-content';
@import '../shared/_globals.scss';
@import '@financial-times/o-comments/main.scss';

@include oComments(
  $opts: (
    'coral-talk-iframe': false,
  )
);

.g-comments__scheduled {
  font-weight: 700;
  margin: 16px;
  color: #333;
}
